.aside{
    position: fixed;
    z-index: 100;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0 2rem;
    color: var(--white);
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: var(--grayDark);

}
.aside a{
    display: block;
}
.aside__btn{
    padding: 2rem 0;
    opacity: .5;
    cursor: pointer;
   
    background: none;
    color: var(--white);
    transition: all .3s ease-in-out;
}
.aside__btn:hover{
    opacity: 1;
}
